<!DOCTYPE html>
<html>
    <head>
        <title>Green Green Energy Consultations</title>
        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
    </head>
    <body>

        <%= hidden_field_tag "controller", @current_controller %>
        <%= hidden_field_tag "action", @current_action %>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".subnav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand">Green Green Energy Consultations</a>
                    <div class="nav-collapse subnav-collapse">
                        <ul class="nav">
                            <li><a href="/">Home</a></li>
                            <li><a href="./Links">Links</a></li>
                            <li><a href="./Members">Members</a></li>
                            <li><a href="./AboutUs">About Us</a></li>
                        </ul>
                        <ul class="nav">                      
                        </ul>                  
                        <ul class="nav pull-right">
                            <li class="divider-vertical"></li>
                            <% if current_user %>
                                <li><a href="<%= logout_path %>">Logout</a></li>
                            <% end %>
                        </ul>
                    </div><!-- /.nav-collapse -->
                </div>
            </div><!-- /navbar-inner -->
        </div><!-- /navbar -->

        <br/><br/><br/><br/>
        <%= yield %>
        <div class="container">
            <br/><br/><br/><br/>
            <footer>
                <div class="container" style="text-align:center;">
                    <p>&copy; Green Green Energy Consultations 2013</p>
                </div>
            </footer>

        </div>
    </body>
</html>
